{% extends 'base.html' %}
{% block body %}
<body>
    <h1>This is your band, add your song to your album.</h1>
    <p>
        <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.song_id.label }} {{ form.song_id }}
                <br>
                {{ form.album_id.label }} {{ form.album_id }}
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>
{% endblock body %}